
/*universal initial setting*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100%;
	max-width: 100vw;
	font-family: arial, georgia, veranda;
	font-size: 15px;
	line-height: 25px;
	/*color: #D6B9AD;*/
}


#reuben{
	background-color: #77878B;
	/*color: white;*/
	height: 100px;
	background-color:  rgba(75, 75, 75, 0.9);
}

html, body{
	/*background-color: #E9EBF8;*/
	max-width: 100%;
	overflow-x: hidden;

}

.nav-text:hover{
	background-color: #778899;
	border-radius: 10px;
	/*padding: 10px;*/
}

.active{
	background-color: 	#778899;
	border-radius: 10px;
	color:  #696969;
}

#home, #profile, #projects, #joseph{
	color: #FFFFF0;
}

.nav-link{
	font-size: 20px;
	font-weight: bold;
	/*padding: 5px;*/
	margin: 5px;
}

#landing{
	min-height: 100vh;
	/*background-color: green;*/
	 /* The image used */
    background-image: url("../images/bg2.jpeg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#fade1{
	/*background-color: grey;*/
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	/*background-color: rgba(204, 204, 255, 0.9);*/
	background-color: rgba(75, 75, 75, 0.9);
	border-radius: 25px;

	border: 1px solid rgba(75, 75, 75, 0.9);
	color: #FFFFF0;
	padding: 30px;
}



/*For Landing Contents*/
#fade{
	/*background-color: grey;*/
	height: 100%;
	margin: auto;
	/*background-color: rgba(204, 204, 255, 0.9);*/
	background-color: rgba(75, 75, 75, 0.9);
	border-radius: 25px;

	border: 1px solid rgba(75, 75, 75, 0.9);

}

#imageme{
	max-height: 200px;
	max-width:	200px;
	margin: 0 auto;
	margin-top: 10px;

}

#me{
	height: 100%;
	width: 100%;
	border: 2px solid rgba(75, 75, 75, 0.9);
	border-radius: 100%;
	
	
}

.ref{
	color: rgb(51, 153, 255);
}

#joseph{
	font-size: 36px;
	font-family: 'Pacifico', cursive;
	color: color: #FFFFF0;

}

#myname, #job{
	font-weight: bold;
}

#logo{
	max-height: 75px;
	max-width: 75px;
	/*margin-left: 50px;*/
}


#desc, #myname{
	margin: 0;
	text-align: center;
	color: #FFFFF0;
}

#expound{
	text-align: justify;
	margin-left: 15px;
	margin-right: 15px;
	color:  #FFFFF0;
}

#expounds{
	color:  #FFFFF0;
}


.button{
	background-color: 	#778899;
	border: 1px solid #696969;
}


.button:hover{
	background-color: #FFFFF0;
	border: 1px solid #FFFFF0;
	color: #696969;
}

.site-title{
	margin-bottom: 15px;
}


.lbl{
	color:  #364652;
}


#container2{
	/*background-color: #F4E7E3;*/
	background-color: #364652;


}

#personal{
	margin-top: 10px;
}

table{
	margin-left: 50px;
	text-align: justify;
}

#mar{
	padding-left: 15px;
	padding-right: 15px;
}

.elem{
	padding-bottom: 10px;
}

#logo1{
	height: 250px;
	
}

.project-margin{
	margin-bottom: 20px;
}

.wor{
	margin-left: 30px;
}

.wel{
	margin-left: 70px;
}

.calls{
	height: 50px;
}


/*contact*/
#space{
	height: 10px;
}

#formbg{
	/*background-color: grey;*/
	min-height: 300px;
	width: 100%;
	background-color: rgba(204, 204, 255, 0.6);
	border-radius: 20px;
}

#pro-pic{
	height: 200px;
	width: 100%;
}

textarea{
	resize: none;
}

.icon-soc{
	height: 7px;
	padding:10px;
}

footer, small{
	text-align: center;
	background-color: #0F121C;
	color: #FFFFFF;
	padding: 20px;
}


.site-desc{
	color:  #364652;
	text-align: justify;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#fade{
		margin: auto 10px;
	}

	.icon-soc{
		height: 7px;
		padding:7px;
	}
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#fade{
		margin: auto 50px;
	}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

 /*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}